# Linguagens que devem ser reconhecidas no GitHub
*.js     linguist-language=JavaScript
*.ts     linguist-language=TypeScript
*.tsx    linguist-language=TypeScript
*.jsx    linguist-language=JavaScript
*.py     linguist-language=Python
*.java   linguist-language=Java
*.cs     linguist-language=C#
*.cpp    linguist-language=C++
*.c      linguist-language=C
*.rb     linguist-language=Ruby
*.php    linguist-language=PHP
*.html   linguist-language=HTML
*.css    linguist-language=CSS
*.scss   linguist-language=SCSS
*.go     linguist-language=Go
*.rs     linguist-language=Rust
*.swift  linguist-language=Swift
*.kt     linguist-language=Kotlin
*.m      linguist-language=Objective-C
*.sh     linguist-language=Shell
*.bat    linguist-language=Batchfile
*.ps1    linguist-language=PowerShell
*.json   linguist-language=JSON
*.yml    linguist-language=YAML
*.yaml   linguist-language=YAML
*.xml    linguist-language=XML
*.md     linguist-language=Markdown
